# Node
NODE_ENV=

# APP
APP_PORT=

# DATABASE
DB_NAME=
DB_USERNAME=root
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306
DB_DIALECT=mysql

# JSON WEB TOKEN
JWT_SECRET=

# CLIENT
CLIENT_URL=

# AWS
AWS_BUCKET_NAME=
AWS_ACCESSKEYID=
AWS_SECRETACCESSKEY=
AWS_REGION=

# MISTRAL AI
MISTRAL_AI_KEY=